<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">


    <!-- config Hibernate -->

	<listener>
		<listener-class>uk.frequency.glance.server.data_access.util.HibernateAutoInit</listener-class> <!-- development only -->
	</listener>

	<filter>
		<filter-name>hibernate-filter</filter-name>
		<filter-class>uk.frequency.glance.server.data_access.util.HibernateSessionRequestFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hibernate-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	
	<!-- config Jersey (JAX RS) -->

	<servlet>
		<servlet-name>jersey-services</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>uk.frequency.glance.server.service</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-services</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

</web-app>
